<html>
<head>
    <title>{{ _type }}</title>
    <style>{{ style|safe }}</style>
</head>
<body>
    <h1>{{ simpleTypeName }}</h1>
    <h2>{{ _type }}</h2>
    <h4>part of <b>{{ schemaGroup }}</b> in version <b>{{schemaVersion}}</b> - view as <a href="{{ schemaId }}">JSON Schema</a></h4>
    <div>Required properties are highlighted in <span style="font-weight:bold">bold</span></div>

    <table class="properties">
        <tr class="header"><td class="property" colspan="2">property</td><td colspan="2">value</td></tr>
        <tr class="header"><td class="property">name*</td><td>description</td><td>type</td><td>instruction</td></tr>
        {% for property, propertyValue in properties.items() %}
        <tr>
            <td class="property nowrap"><span {% if propertyValue['is_required'] %}style="font-weight:bold"{% endif %}>{{ property }}</span></td>
            <td>{{propertyValue["description"]}}</td>
            <td>
                {% if propertyValue['embedded'] %} embedded object{% endif %}
                {% if propertyValue['linked'] %} linked object{% endif %}
                {% if propertyValue['is_array'] %} array {{propertyValue['cardinality']}} of type:<br/>{% endif %}
                {% for expectedValue in propertyValue["typeInformation"] %}{% if "url" in expectedValue %}
                <a href="{{expectedValue['url']}}">{{expectedValue['label']}}</a>
                {% else %}{{expectedValue['label']}}{% endif %}{% if not loop.last %} OR <br/> {% endif %}{% endfor %}</td>
            <td>{{propertyValue["_instruction"]}}</td>
        </tr>
        {% endfor %}
    </table>

    <div style="margin-top: 2em;">*This is the simplified property name - within a metadata instance of this schema (JSON-LD) the properties are extended to map to the openMINDS vocabulary namespace (<span style="font-weight: bold">"https://openminds.ebrains.eu/vocab/PROPERTY_NAME"</span>).
    {% if instances %}
    <div style="margin-top: 3em;">
         <table class="properties">
        <tr class="header"><td class="property" colspan="3">instances</td></tr>
        <tr class="header"><td class="property">name</td><td>ID</td><td></td></tr>
        {% for instance in instances %}
        <tr>
            <td class="property nowrap">{{ instance['label'] }}</td>
            <td>{{ instance['id']}}</td>
            <td><a href="{{ instance['githubUrl']}}" target="_blank">JSON-LD</a></td>
        </tr>
        {% endfor %}
    </table>
    </div>
    {% endif %}




        <!-- To learn more please go to:
<a href="https://wiki.ebrains.eu/bin/view/Collabs/openminds/openMINDS%20core/Application%20details/" target="_blank">EBRAINS Collaboratory: openMINDS - Documentation/Application details</a>--></div>
</body>

</html>
