<html>
<head>
    <title>{{ group }}</title>
    <style>{{ style|safe }}
    body {
        margin: 2em;
    }

    select{
        font-size: 1em;
        margin-left: 0.5em;
    }
</style>
</head>
<body>
<div id="version"><h2>openMINDS {{group}} <select onchange="if (this.value) window.location.href=window.location.href.replaceAll('{{ current }}', this.value)">
            <option disabled>--- stable --</option>
             {% for tag in allTags %}
            <option {% if tag == current %}selected{% endif %} value="{{ tag }}">{{ tag }}</option>
            {% endfor %}
            <option disabled>--- development --</option>
            {% for version in allVersions %}
            <option {% if version == current %}selected{% endif %} value="{{ version }}">{{ version }}-dev</option>
            {% endfor %}
</select></h2></div>
<div>
      <table>
        <tr><td>
    {% for category in typesByCategory.keys()|sort(case_sensitive=False) %}<h3>{{ category }}</h3>
             {% for type in typesByCategory[category]%}
    <a href="{{ type['url'] }}" target="_blank">{{ type['name'] }}</a><br/>
             {% if typesByCategory.keys()|length == 1 and loop.index%((typesByCategory[category]|length)/3) == 0 %}
            </td><td>
                {% endif %}
            {% endfor %}
    {% if loop.index%2 == 0 %}
            </td><td>
                {% endif %}
    {% endfor %}
   </td></tr>
    </table>
</div>

</body>

</html>